@charset "UTF-8";
/* dsh1000 - 대시보드 [운영] */
.dataAutoRefreshDiv {
    float: right;
    margin-right: 110px;
    font-size: 11pt;
    width: 460px;
    height: 35px;
    line-height: 35px;
    color: #414352;
    background-color: #fff;
    border-radius: 5px;
    text-align: right;
    border: 1px solid #ccc;
}
select.autoRefresh_select {
    background-color: #848484;
    border: 1px solid #646464;
    border-radius: 3px;
    color: #fff;
    height: 25px;
    margin-right: 5px;
}
i.autoRefresh_timeIcon {
    margin-left: 5px;
}
.autoRefreshRedoBtn, .autoRefreshEndBtn, .autoRefreshFoldingBtn {
    float: right;
    height: 25px;
    line-height: 20px;
    text-align: center;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10pt;
}
.osl_main_wrap {width: 1400px;}
div.dataLoad_btn:hover {color: #0f73d0;}
.dsh_top_box {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    display: inline-block;
}
.dshChartDiv {
    width: 100%;
    height: 300px;
    display: block;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
}
.dsh_middle_box {width: 100%;margin-bottom: 10px;display: inline-block;}
.dsh_middle_box.dsh_middle_half{width: 49%;}

.dsh_top_sub_box {float: left;display: inline-block;height: 100%;border: 1px solid #ccc;}
.dsh_top_sub_box:nth-child(1){width:346px;}
.dsh_top_sub_box:nth-child(2){width:620px;}
.dsh_top_sub_box:nth-child(3){width:400px;}
.dsh_top_sub_box.dsh_top_left_box {margin-right: 5px;}
.dsh_top_sub_box.dsh_top_middle_box {margin-right: 5px;}

.dsh_flow_box {position: relative;width: 185px;height: 65px;text-align: center;border-radius: 0 0 10px 10px;border: 3px solid transparent;margin: 30px 10px 0 10px;display:inline-block;background-color: #F0F0F0;color: #000000;}
.flow_box_contents span:hover{cursor:pointer; color: red;}
.flowOptionDiv {position: absolute;top: -24px;height: 24px;left: -3px;background-color: inherit;padding: 2px;border: 3px solid transparent;border-radius: 5px 5px 0 0;font-size: 10pt;border-bottom: 1px dashed #fff;width: 185px;text-align: left;}
.flow_box_title {width: 100%;height: 30px;line-height: 20px;font-weight: bold; padding-top: 5px;border-bottom: none;float:left;}
.flow_box_contents {width: 100%;height: 30px;border-radius: 0 0 8px 8px;line-height: 33px;background-color:#fff;color:#000;float:left;}
.dsh_flow_arrow_box {background: url(/images/right_arrow2.png);background-size: 44px 44px;display:inline-block;width: 44px;height: 44px;margin-top: 40px;margin-right: 10px;background-repeat: no-repeat;}
.dsh_flow_box.active{border: 3px solid #4b73eb;}
.dsh_flow_box.active .flowOptionDiv{border: 3px solid #4b73eb;border-bottom: 1px dashed #fff;}
.process_list_box {
    width: 100%;
    display: block;
    float: left;
}
.process_info_box {
    width: 100%;
    display: inline-block;
}

.dsh_title_box {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding-left: 15px;
    font-size: 1.05em;
    font-weight: bold;
    color: #414352;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    /* margin-bottom: 5px; */
    float: left;
    display: block;
	border: 1px solid #ccc;
    border-bottom: none;
}
.dsh_prj_title_box {border-radius: 10px;}
.process_flow_box {border: 1px solid #ccc;width: 100%;height: 120px;background-color: #fff;border-bottom: 1px solid #ccc;overflow-x:auto;overflow-y:hidden;white-space: nowrap;}
.process_req_box {width: 100%;height: 250px;background-color: #fff;}
.process_flow_chart_box {/* border: 1px solid #ccc;border-bottom: 1px solid #ccc; */width: 100%;height: 60px;background-color: #fff;margin-top: 5px;}

.dsh_flow_box.flowActive {border: 1px solid red;}
.flowOptionDiv > li {margin: 0 2px;}
.foldDiv {
    float: left;
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 15px;
	border-radius: 0 0 10px 10px;
	border-top: none;
}
/*req_right_box*/
.req_right_table_wrap{position: fixed;top: 60px;right: 0;z-index: 101;width:450px;background-color:#fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;transition:all .2s;}
.req_right_fileListDiv {height: 117px;overflow-y: auto;border: 1px solid #ccc;padding: 1px;}
.slideBox {transition:all .2s;position: fixed;right: 430px;top: 62px;width: 40px;height: 50px;background-color: #fff;box-shadow: 0 2px 3px 2px rgba(0,0,0,.03);border: 1px solid #e7e8f1!important;text-align: center;line-height: 40px;cursor: pointer;z-index: 102;}
.slideBox > img {width: 15px;vertical-align: middle;transform: rotate(180deg);}
.req_right_table_wrap.on{transform: rotateY(90deg);right:-24.5%;display:none;}
.slideBox.on {right:0; }
.slideBox > img.on {transform: rotateY(0);}

.req_right_box{width:100%;}
.req_right_topheader{width: 100%;padding: 27px 0;border-bottom: 1px solid #ddd;padding-left: 40px;}
.req_right_header_title{line-height:1.5; font-size:0.75em;}

.req_right_contents{float:left; width:100%;border-bottom: 1px solid #ddd;padding:17.5px 19px; font-size:0.75em;}
.r_r_c_line{margin-bottom: 10px;width: 100%; float: left;}
.r_r_c_left{display:inline-block; width:30%; float:left;}
.r_r_c_right{display:inline-block; width:70%; float:left;}
.r_r_c_line:last-child{margin-bottom:0px;}

.req_contents_box{border:1px solid #ddd; width:100%; height:40px; padding:10px; box-sizing:border-box; margin-bottom:18px; overflow-y:auto; overflow-x:auto; resize:none;}
.req_contents_box:last-child{margin-bottom:0px;}
.save_wrap{text-align:center;}
.save_wrap input{min-width: 50px;font-size:0.9em}

.comment_wrap { width: 100%; height: 100px; padding:0 14px; margin-bottom: 17px; background:#f9f9f9; overflow: auto; border:1px solid #ccc; }
.comment_list { padding:16px 0; border-bottom: 1px dashed #ccc; }
.comment_list:last-child { border: none; }
.comment_user { font-size: 1em; color: #333; }
.comment_date { font-size: 0.8em; color: #999; }
.comment_contents { font-size: 0.95em; color: #666; margin-top: 5px; line-height: 16px; white-space:normal; word-break: break-all; display:inline-block; }

/* 요구사항 수 보기 버튼*/
.titleAllViewBtn {
    float: right;
    height: 35px;
    line-height: 32px;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 5px;
    cursor: pointer;
    margin: 5px 2px 2px 2px;
    border-radius: 10px;
    text-align: center;
}
span.titleAllViewContent {
    font-family: "Font Awesome 5 Free";
    font-size: 13pt;
}
.titleAllViewBtn:hover{background-color: #414352;color:#fff;}
.titleAllViewContent.off::before{content: "\f070";}
.titleAllViewContent.on::before{content: "\f06e"; }
/* 프로세스 폴딩 버튼 */
.titleFoldingBtn {
    float: right;
    height: 35px;
    line-height: 32px;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 10px;
    cursor: pointer;
    margin: 5px 10px 2px 2px;
    border-radius: 10px;
    text-align: center;
}
.titleFoldingBtn:hover{background-color: #414352;color:#fff;}
.titleFoldingContent {font-family: "Font Awesome 5 Free";font-size: 13pt;}
.autoRefreshFoldingBtn.down::before, .titleFoldingContent.down::before{content: "\f107";}
.autoRefreshFoldingBtn.up::before, .titleFoldingContent.up::before{content: "\f106"; }
.titleFolded{border-radius:10px;margin-bottom: 5px;border-bottom: 1px solid #ccc;}

/* 새로고침 버튼 */
.titleRedoBtn {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 35px;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 2px 2px 2px;
    cursor: pointer;
	border-radius: 10px;
	font-size:10pt;
}
.titleWorkBtn:hover, .titleRedoBtn:hover, .autoRefreshRedoBtn:hover, .autoRefreshEndBtn:hover, .autoRefreshFoldingBtn:hover{background-color: #414352;color:#fff;}

/* 작업종료 버튼 */
.titleWorkBtn {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 115px;
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 5px 2px 2px 2px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 10pt;
}


/* dsh3000 */
.dsh3000_leftDiv {
    width: 240px;
    display: inline-block;
    float: left;
    height: 100%;
    margin-right: 20px;
}
.dsh3000_rightDiv {
    display: inline-block;
    float: left;
    width: 1400px;
}
.dsh3000_prjGrpTitle{font-size:12pt;}
.dsh3000_prjTitle {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border: 1px solid #ccc;
    float: left;
    background-color: #fff;
    border-bottom: none;
    padding-left: 10px;
    /* margin-bottom: 5px; */
    cursor: pointer;
    font-size: 11pt;
}
.dsh3000_prjTitleEnd {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10px;
}

.dsh3000_prjTitle:hover, .dsh3000_prjTitle.active {box-shadow: inset 0px 0px 1px 1px #0581f2;background: #e3f1ff;color: #000;}
canvas {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}


/* dsh2000 */
.dsh2000_prjInfo {display: inline-block;margin-left: 5px;}
.dsh2000_prjDateRangeInfo {float: right;margin-right: 20px;}
.reqDtmOver_leftDiv {
    float: left;
    width: 500px;
    border: 1px solid #ccc;
    height: 250px;
}
.reqDtmOver_RightDiv {
    float: right;
    height: 250px;
    width: 870px;
    border-bottom: 1px solid #ccc;
}
.dsh2000_dtmOverAlert {
    float: right;
    height: 35px;
    line-height: 30px;
    text-align: center;
    width: 230px;
    /* padding: 0 7px; */
    font-size: 13pt;
    background-color: #fff;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    position: relative;
}
.dtmOverAlertCnt_desc {
    position: absolute;
    font-size: 9pt;
    text-align: center;
    top: 24px;
}
.alertDesc {
    display: inline-block;
    float: left;
    width: 37px;
    margin: 0 4px;
}
.dtmOverAlertCnt {
    float: left;
    width: 37px;
    height: 28px;
    border-radius: 40px;
    line-height: 28px;
    margin: 2px 4px;
    color:#fff;
    font-size:11pt;
}
div.alert-green {
    background-color: #00d200;
}
div.alert-yellow {
    background-color: #fba450;
}
div.alert-red {
    background-color: #ff1a00;
}
div.alert-overRed {
    background-color: #ff5643;
}
div.alert-blue {
    background-color: #4b73eb;
}
